<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>254386D9-4F73-40AF-A46A-B36530F96047</string>
		<key>name</key>
		<string>Transcription</string>
		<key>date</key>
		<date>2020-07-31T15:00:00Z</date>
	</dict>
	<dict>
		<key>id</key>
		<string>C7E19CEC-E32D-4E36-A148-2E02DBD1E4CD</string>
		<key>name</key>
		<string>Dummy 1</string>
		<key>date</key>
		<date>2020-06-30T15:00:00Z</date>
	</dict>
	<dict>
		<key>id</key>
		<string>0E751321-4917-4161-BE41-3B6A872382ED</string>
		<key>name</key>
		<string>Dummy 2</string>
		<key>date</key>
		<date>2019-07-31T15:00:00Z</date>
	</dict>
	<dict>
		<key>id</key>
		<string>1085617D-BFBB-48E5-9C2E-22123BBC634E</string>
		<key>name</key>
		<string>Dummy 3</string>
		<key>date</key>
		<date>2020-08-31T15:00:00Z</date>
	</dict>
</array>
</plist>
